#ignore virtual environment and pycharm files
venv
.idea
Scripts/Resources/Sprites/Pokemon/*
Scripts/Resources/Sprites/Trainers/*
Scripts/__pycache__/*
Scripts/team1-doc.txt
Scripts/team2-doc.txt
Scripts/input-doc.txt
Scripts/output-doc.txt
Scripts/quit-doc.txt